@charset "utf-8";

body{
    margin: none;
    padding: none;
    width: 100%;
    height: 100%;
    background-position: center;
    background-image: linear-gradient(#153463 1px, transparent 1px), 
                      linear-gradient(to right, #153463 1px, #0C1227 1px);
    background-size: 45px 45px;
}

#title{
    text-shadow: 3px 3px 5px #a0a0a0;
}

form{
    display: flex;
    flex-flow: row wrap;
    background: #0d203d;
    color: white;
    aspect-ratio: 1/0.5;
    margin: 25px auto;
    border-radius: 25px;
    padding: 50px;
    box-shadow: 1px 1px 15px #0d203d;
}

form input{
    width: 100%;
    aspect-ratio: 1/0.1;
    margin: 10px 0px;
    padding: 5px;
}

form textarea{
    width: 100%;
    padding: 5px;
    margin: 10px 0px;
}

form legend{
    margin-bottom: 10px;
}

form legend, form label{
    width: 100%;
}

form #info{
    display: flex;
    flex-flow: row wrap;
    width: 50%;
}

form img{
    transform: scaleX(-1);
}

form #submit{
    background: #1f498a;
    color: white;
    border: none;
    aspect-ratio: 1/0.2;
    margin: 10px 0px;
    border-radius: 5px;
    font-weight: 500 ;
}

form #submit:hover{
    text-decoration: underline;
    box-shadow: 0px 0px 5px #1f498a;
    font-weight: 500 ;   
}

@media screen and (max-width: 480px){
    #title{
        display: block;
        margin-top: 100px ;
    }
    
    form{
        width: 90%;
    }
    
    form legend{
        font-size: 12pt;
        margin-bottom: 10px;
    }
    
    form input{
        width: 100%;
        font-size: 16pt;
    }
    
    form textarea{
        font-size: 14pt;
        aspect-ratio: 1/0.75;
    }
    
    form #submit{
        width: 100%;
        font-size: 16pt;
    }
}

@media screen and (min-width: 1024px){
    form{
        width: 50%;
    }
    
    form legend{
        font-size: 15pt;
    }
    
    form input{
        width: 100%;
        font-size: 16pt;
    }
    
    form textarea{
        font-size: 14pt;
        aspect-ratio: 1/0.25;
    }
    
    form #submit{
        width: 250px;
        font-size: 16pt;
    }

}