@charset "utf-8";

header #logo{
    margin: auto;
}

header h1{
    margin: auto;
}

main h1{
    color: black;
}

main img{
    margin: auto;
}

@media screen and (max-width: 480px){
    main img{
        width: 100%;
    }
}

@media screen and (min-width: 1024px){
    main img{
        height: 50%;
    }
}