@charset "utf-8";

header #logo{
    margin: auto;
}

header h1{
    margin: auto;
}

main h1{
    color: black;
}


@media screen and (max-width: 480px){

}

@media screen and (min-width: 1024px){

}