@charset "utf-8";

#main{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
}

#main h2{
    width: 100%;
    text-align: center;
}

#about{
    margin: 50px;
}

#main h3, #main p{
    width: 50%;
    margin: auto;
}

#products{
    display: flex;
    flex-flow: row wrap;
    margin: auto;
    gap: 15px;
}

.product{
    background: #0d203d;
    box-shadow: 0px 0px 2.5px #0d203d;
    color: white;
    border-radius: 15px;
}

.product img{
    width: 100%;
    object-fit: cover;
}

.product a{
    color: white;
}

.product p{
    border: 2.5px solid #0d203d;
    border-bottom: 2.5px solid #1f498a;
}

.product .cart h3{
    padding-top: 15px;
    text-align: center;
    font-weight: 400;
}

.product .cart h3:hover{
    font-weight: 600;
    text-decoration: underline;
    /* background-color: #1f498a; */
}

@media screen and (max-width: 480px){
    main{
        padding: 0px 10px;
    }

    #main{
        width: 90%;
    }

    .product{
        width: 45%;
        padding: 5px;
        margin: 15px auto;
    }
    
    .product img{
        border-radius: 10px;
    }

    .product h4{
        font-size: 14pt;
        padding: 5px 0px;
    }
    
    .product p{
        font-size: 10pt;
        padding-bottom: 10px;
    }
    
    .product .cart h3{
        font-size: 12pt;
    }
}

@media screen and (min-width: 1024px){ 
    #main{
        width: 90%;
    }

    #main h2{
        font-size: 30pt;
    }

    .product{
        width: 300px;
        aspect-ratio: 1/0.3;
        padding: 15px;
        margin: 15px auto;
    }

    .product img{
        border-radius: 5px;
    }

    .product h4{
        font-size: 16pt;
        padding: 5px 0px;
    }

    .product p{
        font-size: 12pt;
        padding-bottom: 10px;
    }

    .product .cart h3{
        font-size: 14pt;
    }
}
