@charset "utf-8";

*{
	font-family: 'Metropolis', sans-serif;   
	box-sizing: border-box; 
	margin: 0px;
	padding: 0px;
    color: whitesmoke;
}

body, main, header, p, h1, h2, h3, h4, h5, h6, footer, li{
	display: block;
}

body{
    background-image: linear-gradient(#153463 1px, transparent 1px), 
                      linear-gradient(to right, #153463 1px, #0C1227 1px);
    background-size: 45px 45px;
}

a{
    text-decoration: none;
}

header{
    display: block;
    width: 100%;
    background: #0d203d;
}

header #logo img{
    display: flex;
    margin:  auto;
    padding: 15px 0px;
}

header h1{
    display: flex;
    padding-bottom: 15px;
}

header h1 a{
    color: white;
    margin: 0px auto;
}

header nav a{
    background: #1f498a;
    width: 25%;
    padding: 15px 0px;
}

header nav a:hover {
    background: #0d203d;
}

nav{
    width: 100%;
    display: block;
}

nav a{
    float: left;
    text-align: center;
    text-decoration: none;
    color: white;
}

footer{
    background: #1f498a;
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}

footer ul div{
    width: 75px;
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    aspect-ratio: 1/1;
}

footer ul div a{
    margin: auto;
}

footer > ul a:hover{
    color: #0d203d;
}

footer ul img:hover{
    filter: brightness(0) 
            saturate(100%) 
            invert(14%) 
            sepia(27%) 
            saturate(1090%) 
            hue-rotate(174deg) 
            brightness(95%) 
            contrast(107%)
}

footer a{
    color: white;
}

footer nav{
    background: #0d203d;
}

footer nav li{
    display: inline-flex;
}

footer nav a:hover{
    color: #1f498a;
}

    
#banner{
    width: 100%;
    border: 10px solid #1f498a;
    border-top: none;
    background-position: center;
    background-color: #0d203d;
    opacity: 1;
    background-color: #0d203d;
    opacity: 1;
    background-color: #0d203d;
    opacity: 1;
    background-color: #0d203d;
    opacity: 1;
    background-image:  linear-gradient(30deg, #153463 12%, transparent 12.5%, transparent 87%, #153463 87.5%, #153463), linear-gradient(150deg, #153463 12%, transparent 12.5%, transparent 87%, #153463 87.5%, #153463), linear-gradient(30deg, #153463 12%, transparent 12.5%, transparent 87%, #153463 87.5%, #153463), linear-gradient(150deg, #153463 12%, transparent 12.5%, transparent 87%, #153463 87.5%, #153463), linear-gradient(60deg, #15346377 25%, transparent 25.5%, transparent 75%, #15346377 75%, #15346377), linear-gradient(60deg, #15346377 25%, transparent 25.5%, transparent 75%, #15346377 75%, #15346377);
    background-size: 80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

#banner h2{
    display: block;
    width: 100%;
    margin: auto ;
    text-align: center;
}

@media screen and (max-width: 480px){
    main{
        margin: 10px;
    }
        
    #banner{
        height: 200px;
        padding-top: 100px;
    }

    #banner h2{
        font-size: 30pt;
    }

    #title{
        font-size: 30pt;
        margin: 100px 0px 50px auto;
        width: 100%;
        text-align: center;
    }
    
    .subTitle{
        font-size: 20pt;
        margin: 10px auto;
        width: 100%;
        text-align: center;
    }

    #cart img{
        scale: 1.5;
        top: 25px;
        right: 25px;
        position: absolute;
    }

    header h1{
        font-size: 17pt;
    }
    
    footer > ul{
        display: flex;
        padding: 10px 0px;
        margin: auto;
    }
    
    footer a{
        font-size: 12pt;
    }

    footer img{
        width: 40px;
        margin: auto;
    }

    footer nav a{
        padding: 10px 15px;
        font-size: 10pt;
    }
}

@media screen and (min-width: 1024px){
    main{
        display: flex;
        flex-flow: row wrap;
        margin: 75px;
    }
        
    #banner{
        height: 350px;
        padding-top: 125px;
    }

    #banner h2{
        font-size: 75pt;
    }
    
    #title{ 
        font-size: 40pt;
        margin: 0px auto;
        width: 100%;
        text-align: center;
    }
    
    .subTitle{
        font-size: 30pt;
        margin: 10px auto;
        width: 100%;
        text-align: center;
    }
    
    #cart img{
        scale: 2;
        top: 50px;
        right: 50px;
        position: absolute;
    }
    
    footer > ul{
        display: flex;
        padding: 25px 0px;
        margin: auto;
    }
    
    footer img{
        width: 50px;
        margin: auto;
    }

    footer nav a{
        padding: 15px 25px;
    }
}